.App {
  text-align: center;
}

.logo {
  height: 10vmin;
  pointer-events: none;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  overflow: hidden;
  position:relative;
  background-color: #f6f3e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header-tape1 {
  position:absolute;
  bottom: 0;
  right: 0;
  transform: rotate(-25deg) translate(10rem, 0px);
}
.App-header-tape2 {
  position:absolute;
  top: 0;
  left: 0;
  transform: rotate(-35deg) translate(-10rem, 0px);
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: #ffff;
  border: 1px solid #ffff;
  padding: 8px;
  z-index: 1;
}

.toolbar button {
  flex: 1;
  background-color: #ffff;
  border: 1px solid #ffff;
  height: 100%;
  width: 33%;
  cursor: pointer;
  align-items: center;
}

.testImage {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider {
  position: flex;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
}

