.OutsideWrapper {
  background-color: #f6f3e7;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.AppWrapper {
  width: 100%;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}
.App {
  overflow: hidden;
  width: 100%;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 88dvh;
  width: 100%;
}

.currentImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 30rem;
  height: 6dvh;
  background-color: #ffff;
  border: 1px solid #ffff;
  padding: 8px;
  z-index: 1;
}

.toolbar button {
  flex: 1;
  background-color: #ffff;
  border: 1px solid #ffff;
  height: 100%;
  width: 33%;
  cursor: pointer;
  align-items: center;
}

.slider {
  right: -8%;
  bottom: 40%;
  position: absolute;
  z-index: 2;
  transform: rotate(-90deg);
}

